*  { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;


}
:root {
   --primary-color: #EEEEE6;
   --secondary-color: #f1f2ce;
   --blue: #58ecff;
   --third-color: #8c5e35;
   --fourth-color: #572d14;
   --background: #010101;
   --background: linear-gradient(180deg, #010101, #070027);
   --fuente-heading: "Montserrat,sans-serif";
   --gray-dark: #344137
 }
 html {
 

   scroll-behavior: smooth;
 }
 
 body { 
 
       margin: 0;
       padding: 0;
       box-sizing: border-box;
 }
 #title-desc { 
  color: var(--background2-colour);
  font-family: var(--font-heading);
  font-size: 2rem;
 }
 
 span { 
    
     color: var(--secondary-color);
 }
 
 header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
    width: 100%;
          
          transition: 0.7s;
     }
  #nav { 

  background: #010101;
  }   


.menu-links { 
   color: #181818;
   text-decoration: none;

}


 #vlog-title { 

  display: flex;
  font-family: var(--fuente-heading);
  color: var(--primary-color);
  align-items: center;
 justify-content: center;
  padding: 5rem;
 
 }

#boton-color { 

   background-color: var(--secondary-color);
}

 #profile-photo {
   width: 250px;
   height: 250px;
   border-radius: 100%;
   margin: 0 20px;
}

.hero { 

   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   background: #010101;
   background: linear-gradient(180deg, #010101, #070027);
  
   height: 100dvh;
   

}
.title  { 
    font-family: var(--font-heading);
   color: var(--primary-color);
}
#main, #about, #services, #contact    { 

   color: var(--primary-color);
}

#desc { 
    
   font-family: var(--fuente-heading);
   color: var(--background);
   font-size: 19px;

}

#about-me { 
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     height: 100dvh;
     gap: 10rem;

}

@media only screen and (min-width: 991px ) {
  #about-container { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100dvh;
    gap: 8rem;
  }
    #image-about-me { 

      display: flex;
       justify-content: space-between;
       padding: 20px;
        
    
    }
    
    #info-about-me { 
        display: flex;
        flex-direction: column;
        padding: 20px;
    
    }
}

@media only screen and (max-width: 768px ) {
  #about-me { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
    gap: 6rem;
  }
    #image-about-me { 

      display: flex;
      width: fit-content;
       justify-content: space-between;
       padding: 20px;
        
    
    }
    
    #info-about-me { 
        display: flex;
        flex-direction: column;
        padding: 20px;
    
    }
}



header.abajo{
   background: #181818;
   padding: 10px 15px;
   
 }

 #main:hover, #about:hover, #services:hover, #contact:hover , .menu-links:hover {
   color: var(--blue);
   transform: scale(1.1);
   transition: 0.7s;
   transition: translateY(2);
 }
 
 
 .row { 
 
    display: flex;
    
    justify-content: center;
    text-align: center;
 
 }
 #heading { 
 
  
   font-size: 2rem;
   font-family: "SodoSans-Black";
   color: var(--primary-color);
 
 
 }
 span { 
   color: var(--blue);
   font-family: "SodoSans-Light";
 }  


 .collapse { 
 
    display: flex;
    justify-content: flex-end;
    font-size: 1.9rem;
    font-family: var(--fuente-heading);
    
    
   } 
   .nav-item { 
   
     font-size: 2rem;
     font-family: var(--fuente-heading);
     color: var(--secondary-color);
 
   }

   @media only screen and (max-width: 991px ){ 
      
       .nav-menu { 
    
        
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 15px;
         box-sizing: border-box;
         background-color: var(--secondary-color);  
       
         
    }  
    .nav-burger-menu { 
       list-style: none; 
     
     
    
    }  
        
     
    
       .menu-links { 
           font-size: 1.9em;
           font-family: "SodoSans-Black";
            color: var(--fourth-color);      
              padding: 18px;
             text-decoration: none;
             display: flex;
            justify-content: center;
             align-items: center;
             text-align: center;
             
    
    
       } 
       
        
    }


    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
    }
    #imagen-hero {
      flex: 1;
      
    }
    #imagen-hero img {
      max-width: 100%;
      height: auto;
      display: block;
    }
    #description {
      flex: 1;
    }
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     
      }
      #profile-photo {
        margin-right: 0; /* Reinicia el margen en pantallas pequeñas */
        margin-bottom: 2rem; /* Agrega un espacio entre la imagen y el texto en pantallas pequeñas */
        
      }
    }

    @media (min-width: 991px) {
      .container {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 6rem;
      }
      
    }

    .scroll-up{
      position: fixed;
      bottom: 20px;
      right: 20px;
      color: var(--secondary-color);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s ease; /* Transición suave para opacity */
    }
    
    .socicon {
      width: 2rem;
      height: 2rem;
      background-color: white;
      box-shadow: 1px 1px 1px;
      border-radius: 10px 10px 10px;
      z-index: 10;
      
    }

    #gif-vlog { 
     
     
        width: 60px;
        border-radius: 50%;
        
        
      


    }
    .vlog  { 
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      
    }

    #btn { 
        width: 10rem;

    }

    .custom-shape-divider-bottom-1708801360 {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }
  
  .custom-shape-divider-bottom-1708801360 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 121px;
  }
  
  .custom-shape-divider-bottom-1708801360 .shape-fill {
      fill: #FFFFFF;
  }

  .custom-shape-divider-bottom-1708804418 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1708804418 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1708804418 .shape-fill {
    fill: #ffffff;
}
