
*  { 
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   


}
:root {
   --primary-color: #EEEEE6;
   --secondary-color: #f1f2ce;
   --blue: #58ecff;
   --blue-terminal :#00ffff;
   --third-color: #8c5e35;
   --fourth-color: #572d14;
   --background: #010101;
   --background: linear-gradient(180deg, #010101, #070027);
   --fuente-heading: "Montserrat,sans-serif";
   --fuente-text: 'Courier New', Courier, monospace;
   --gray-dark: #344137
 }
 html {
 

   scroll-behavior: smooth;
   
 }
 
 body { 
 
    
       box-sizing: border-box;
     
 }  


 header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 2;
    width: 100%;
          
          transition: 0.7s;
     }

     


  #nav { 

  background: #010101;
  padding: 20px;
  }   





 #vlog-title { 

  display: flex;
  font-family: var(--fuente-heading);
  color: var(--primary-color);
 
  align-items: center;
 justify-content: center;
  padding: 5rem;
 
 }





 #profile-photo {
   width: 290px;
   height: 300px;
   border-radius: 100%;
   margin: 0 20px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #010101, #070027);
  height: 100vh;
}

.text__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#text {
  color: #00ffff;
  font-size: 1.7em;
  font-family: var(--fuente-text);
  filter: drop-shadow(0 0px 5px rgba(0, 230, 270, 2));
}

.title {
  padding: 10px;
  font-family: Montserrat, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: var(--primary-color);
}
@media only screen and (max-width: 1200px) {
  #text {
    font-size: 24px;
    font-family: var(--fuente-text);
  }

  .title {
    font-size: 3rem;
    font-weight: 700;
    
  }
}



@media only screen and (max-width: 991px) {
  #text {
    font-size: 1.5rem;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media only screen and (max-width: 768px) {
  #text {
    font-size: 19px;
  }

  .title {
    font-size: 1.9em;
  }
}





.nav-link:hover    { 

   filter: drop-shadow(0 0px 5px rgba(0, 230, 270, 2));
}

#main , #about , #services , #contact { 
    font-family: var(--fuente-text);
     font-size: 26px;
  color: var(--primary-color);
}




  #image-aboute-me img { 

    display: flex;
     justify-content: space-between;
     height: 25dvh;
     margin-bottom: 20px;
     border-radius: 50%;
     object-fit: cover;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
     
     
  
  }

  #image__about:hover {
    transform: scale(1.1);
   transition: 0.7s;
   transition: translateY(2);
  
   }
  
  #about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  #about-container {
    background: rgb(11 0 37);
    border-radius: 10px;
    padding: 30px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    
    
  }
  
  



  #info-about-me {
  text-align: left;
  }
  
  #title-desc {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    margin-bottom: 10px;
    color:var(--blue);
  }
  
  #desc {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    line-height: 1.6;
    color:var(--blue);
    margin-bottom: 20px;
  }
  
  #btn {
    background-color: transparent;
    color: var(--blue-terminal);
    border: 2px solid var(--blue-terminal);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
  }
  
  #btn:hover {
    background-color: var(--blue-terminal);
    color: #0d1117;
    transform: scale(1.1);
   transition: 0.7s;
   transition: translateY(2);
  }
  
  #about-container::before {
    
    
    font-size: 1.2rem;
    font-family: "Fira Code", monospace;;
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    #about-container {
        padding: 20px;
    }
  
    #image-about-me img {
        width: 100px;
        height: 100px;
    }
  
    #title-desc {
      color: #00ffff;
      font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
    }
  
    #desc {
      color: #00ffff;
      font-family: 'Courier New', Courier, monospace;
        font-size: 1.2rem;
    }
  
    #btn {
        padding: 8px 16px;
        font-size: 14px;
    }
  }
  
  @media (max-width: 480px) {
    #image-about-me img {
        width: 80px;
        height: 80px;
    }
  
    #title-desc {
      color: #00ffff;
      
        font-size: 20px;
    }
  
    #desc {
      color: #00ffff;
        font-size: 18px;
    }
  
    #btn {
        padding: 6px 12px;
        font-size: 12px;
    }
  }
  
  
header.abajo{
   background: #181818;
   padding: 10px 15px;
   
 }

 #main:hover, #about:hover, #services:hover, #contact:hover , .menu-links:hover {
   color: var(--blue-terminal);
   transform: scale(1.1);
   transition: 0.7s;
   transition: translateY(2);
 }
 
 
 .row { 
 
    display: flex;
    
    justify-content: center;
    text-align: center;
 
 }
 #heading { 
 
  
   font-size: 2rem;
   font-family: var(--fuente-text);
   color: var(--primary-color);
 
 
 }
 

 .collapse { 
 
    display: flex;
    justify-content: flex-end;
    font-size: 1.9rem;
    font-family: var(--fuente-heading);
    
    
   } 
   .nav-item { 
   
     font-size: 2rem;
     font-family: var(--fuente-heading);
     color: var(--secondary-color);
 
   }

   @media only screen and (max-width: 991px ){ 
    .panel { 
      position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    z-index: 997;
    top: 0;
    right: 0;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    
    transition: transform .3s ease;
    transform: translate(100%);
    margin-top: 10dvh;
    }  


       .nav-menu { 
    
        
         display: flex;
         flex-direction: column;
         align-items: center;
         padding: 20px;
       
         box-sizing: border-box;
         
         transform: translate(0);
         box-shadow: 0 8px 32px #1f26875e;
         
         
    }  
    .nav-burger-menu { 
      
       list-style: none; 
     
     
    
    }  
        
     
    
       .menu-links { 
           font-size: 1.9em;
           font-family: var(--fuente-text);
           font-weight: 500;
            color: var(--blue-terminal);      
              padding: 18px;
             text-decoration: none;
             display: flex;
            justify-content: start;
             align-items: start;
          
             
             
    
    
       } 
       
        
    }

    .nav-menu { 
    
        
      display: none;
      
      
 } 
    .container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
      
    }
    
    #image__hero img {
      max-width: 100%;
      height: auto;
      
    }
    #description {
      flex: 1;
    }
    @media only screen and (max-width: 768px) {
      .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
     
      }
      #profile-photo {
        
        
        margin-right: 0; /* Reinicia el margen en pantallas pequeñas */
        margin-bottom: 2rem; /* Agrega un espacio entre la imagen y el texto en pantallas pequeñas */
        
      }
      #image__hero {
        width: 30px;
        height: auto;
        
      }

      .button { 
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 5.5rem;
        margin-bottom: 16rem;
      
       
     
     }
   
      
    }

    @media (min-width: 991px) {
      .container {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
         gap: 6rem;
      }
      
    }

    .scroll-up{
      position: fixed;
      bottom: 20px;
      right: 20px;
      color: var(--secondary-color);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 24px;
      cursor: pointer;
      opacity: 0;
      transition: opacity 0.3s ease; /* Transición suave para opacity */
    }
    
    .socicon {
      width: 2rem;
      height: 2rem;
      background-color: white;
      box-shadow: 1px 1px 1px;
      border-radius: 10px 10px 10px;
      z-index: 10;
      
    }
    .socicon:hover {
      width: 2rem;
      height: 2rem;
      background-color: white;
      box-shadow: 1px 1px 1px;
      border-radius: 10px 10px 10px;
      z-index: 10;
      transform: scale(1.2);
      transition: all 400ms ease-in-out;
    }

   

   

  

.title-cards , .title-cards h2{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 40px;
	margin-top: 20px;
  text-align: center;
	color: var(--background);
  font-size: 2.5rem;
  
}



.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}


.card .card__body a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 15px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .card__body a:hover{
	background: #2fb4cc;
	color: #fff;
}



.button { 
   display: flex;
   justify-content: center;
   align-items: center;
   height: 40px;
   padding: 5.5rem;
   margin-bottom: 16rem;
 
  

}

.button button { 
  display: inline-block;
	padding: 10px 25px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	
	transition: all 400ms ease;
	margin-bottom: 5px;
  border-radius: 15px;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}






#button__projects:hover  { 
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
  filter:  drop-shadow(0 0px 5px rgba(0, 230, 270, 2));
  background-color: var(--blue-terminal);
  color: #000;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
} 




.custom-shape-divider-bottom-1713128554 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713128554 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 191px;
}

.custom-shape-divider-bottom-1713128554 .shape-fill {
  fill: #FFFFFF;
}


@media (max-width: 767px) {
  .custom-shape-divider-bottom-1713128554 svg {
      width: calc(100% + 1.3px);
      height: 95px;
  }
}

.custom-shape-divider-bottom-1713129057 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1713129057 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 191px;
}

.custom-shape-divider-bottom-1713129057 .shape-fill {
  fill: linear-gradient(180deg, #010101, #070027);
}


@media (max-width: 767px) {
  .custom-shape-divider-bottom-1713129057 svg {
      width: calc(100% + 1.3px);
      height: 107px;
  }
}


.slider {
  width: 90vw;
  height: auto;
  margin: auto;
  padding: 25px;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 17s linear infinite;
  width: calc(200px * 10);
}

.slider .slide {
  width: 200px;
padding: 15px;
}


.slide {
  width: 200px;
  
  padding: 20px;
}

.slider .slide img {
 
  border-radius: 10%;

  width: 60%;
}

@media only screen and (max-width: 767px) {
  .slider .slide img {
 
    border-radius: 10%;
    
    width: 50%;
  }

  .slider {
    width: 100%;
    height: auto;
    margin: auto;
    
    overflow: hidden;
  }
  .slide {
    width: 200px;
    

  }
  
}





@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}




.image__hero { 

  display: inline-flex;
  justify-content: center;
  align-items: center;
 margin-bottom: 70px;
}
@media only screen and (min-width: 991px) {
  .nav-burger-menu{ 
    display: none;
  }
}




.container {
  display: flex;
 
  align-items: center;
}

.container h3 {
  margin-bottom: 10px;
}

.icons__footer {
  width: 35px;
 height: 35px;
 margin: 0 10px;
 text-align: center;
 cursor: pointer;

margin-top: 5px;
 transition: all 0.5s ease;
 filter: brightness(1.1);
}
 



.icons__footer:hover {
  transform: scale(1.2);
}






#footer {
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-align: center;
 margin-top: 15rem;
 color: var(--primary-color);
 padding: 1rem;

}


@media only screen and(max-width: 768px  ){
  .icons img {
    width: 30px;
    height: 30px;
    margin: 0 0px;
    
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    transition: all 0.5s ease;
    animation: flotar 3s ease-in-out infinite;
  }

  
}


.icons img {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
  transition: all 0.5s ease;
  animation: flotar 3s ease-in-out infinite;
}

@keyframes flotar {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-20px);
  }
  100% {
      transform: translateY(0);
  }
}

#github-icon {
  filter: brightness(20);
}

.icons img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease; /* Solo la transformación en el hover */
}
  
@media only screen and (max-width: 678px) {
  .shape-divider {
    position: relative;
    height: 150%; /* Ajusta la altura según necesites */
    
  }
  
  .shape-divider::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Ajusta la altura según necesites */
   
    background-size: cover;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="%23f8f9fa" d="M0,160L48,144C96,128,192,96,288,106.7C384,117,480,171,576,192C672,213,768,203,864,192C960,181,1056,171,1152,144C1248,117,1344,75,1392,53.3L1440,32L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"/></svg>');
  }
  
  .custom-shape-divider-bottom-1718687655 .shape-fill {
    fill: #FFFFFF;
}
  
}

@media only screen and (min-width: 678px) {

  .custom-shape-divider-bottom-1718687655 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    fill: var(--primary-color);
}

.custom-shape-divider-bottom-1718687655 .shape-fill {
  fill: #FFFFFF;
}

.custom-shape-divider-bottom-1718687655 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 141px;
}


}

@media only screen and (max-width: 991px) { 


  .container-button {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--blue);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }


}


 

.image__hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  position: relative; /* Ensure relative positioning for absolute children */
}

.icons {
  margin: 0 10px;
}

#github-icon,
#linkedin-icon {
  position: absolute;
  
}

#github-icon {
  top: 50%;
  left: -20px; /* Adjust this value as needed */
  transform: translateY(-100%);
}

#linkedin-icon {
  top: 50%;
  right: -20px; /* Adjust this value as needed */
  transform: translateY(-100%);
}

@media only screen and (max-width: 991px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  #profile-photo {
    margin-right: 0; /* Reset margin on small screens */
    margin-bottom: 1rem; /* Add space between image and text on small screens */
    width: 290px; /* Adjust width for mobile */
    height: auto;
  }
  
  .image__hero {
    flex-direction: column;
  }
  
  .icons {
    margin: 5px 0; /* Adjust margin for better alignment on mobile */
  }

  #image__hero img {
    max-width: 100%;
    height: auto;
  }

  #github-icon {
     z-index: 4;
    left: -120px; /* Adjust this value as needed */
  }

  #linkedin-icon {
    right: -100px; /* Adjust this value as needed */
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }

  #profile-photo {
    width: 250px; /* Adjust width for mobile */
  }

  .text__hero h1,
  .text__hero h2 {
    text-align: center;
  }

  #github-icon {
    left: -120px; /* Adjust this value as needed */
  }

  #linkedin-icon {
    right: -100px; /* Adjust this value as needed */
  }
}


.fade-out {
  animation: fadeOutLeft 1s forwards;
}

.fade-in {
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeOutLeft {
  from {
      opacity: 1;
      transform: translateX(0);
  }
  to {
      opacity: 0;
      transform: translateX(-100%);
  }
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}


body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--background);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue-terminal);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--blue-terminal);  /* creates padding around scroll thumb */
}

/* Estilos para modo landscape con dimensiones específicas */
@media only screen and (max-width: 948px) and (max-height: 670px) and (orientation: landscape) {
  
  .container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 100px;
      padding: 20px;
      max-width: 100%;
  }

  .image__hero {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 50%;
  }

  .text__hero {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      text-align: left;
  }

  .text__hero .title {
      font-size: 2em;
      margin-bottom: 10px;
  }
  
  #text { 
      font-size: 1.2em;
  }

  #profile-photo {
      width: 150px;
      height: auto;
      border-radius: 50%;
  }

  .icons {
      display: flex;
      gap: 15px;
  }

  .icons img {
      width: 30px;
      height: 30px;
  }

  .shape-divider {
      display: none;
  }

  .custom-shape-divider-bottom-1718687655 {
      display: none;
  }

  #github-icon {
    left: 20px; /* Adjust this value as needed */
  }

  #linkedin-icon {
    right: 10px; /* Adjust this value as needed */
  }


  .panel { 
    
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    text-align: center;
    z-index: 997;
    top: 0;
    right: 0;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    transition: transform .3s ease;
    transform: translate(100%);
    margin-top: 25dvh;
    
}

.menu-links { 
  font-size: 1.8rem;
 font-family: var(--fuente-text);
  font-weight: 500;
   color: var(--blue-terminal);      
     padding: 10px;
    text-decoration: none;
    display: flex;
   justify-content: start;
    align-items: start;
 
} 

#about-container {
  background: rgb(11 0 37);
  border-radius: 10px;
  padding: 30px;
  max-width: 600px;
  
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  
}

}




/* Card styling */
.container__card { 
  position: relative;
 padding: 20px 20px;
 
  background: #FFFFFF;
}

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;

}

.card {
    position: relative;
    width: 370px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0.5s;
    margin: 20px;
}

/* .card a {
    color: inherit;
    text-decoration: none;
} */

.card:hover {
  transform: scale(1);
  transition: all 400ms ease-in-out;
  filter:  drop-shadow(0 0px 5px var(--blue-terminal));
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    background: var(--background);
}

/* Thumbnail */
.card__thumb {
    height: 245px;
    overflow: hidden;
    
    transition: height 0.5s;
}

.card__thumb img {
    width: 100%;
    display: block;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s, transform 0.5s;
}

.card:hover .card__thumb {
    height: 130px;
}

.card:hover .card__thumb img {
    opacity: 0.6;
    transform: scale(1.2);
}

/* Card body */
.card__body {
    position: relative;
    height: 140px;
    padding: 25px;
    transition: height 0.5s;
}

.card:hover .card__body {
  
    background: var(--background);
}

@media only screen and (max-width: 968px) {
  .card:hover .card__body {
    position: relative;
    height: 250px;
    padding: 30px;
    transition: height 0.5s;
      background: var(--background);
  }
  
}

@media only screen and (max-width: 949px ) and (min-width: 769px  )and (orientation: portrait) {
   span { 
    display: none;
   }
}
span { 
  color: #00ffff;
  font-family: 'Courier New', Courier, monospace;
}

.card__title {
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    
}

/* Description styling */


.card:hover  {
    opacity: 1;
    
    background: var(--background);
    
}

/* Overlay styling */
.overlay1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    transition: opacity 0.3s;
    
    z-index: 1; /* Ensures overlay is on top */
    background: var(--background);
    text-align: center;
}

.card:hover .overlay1 {
    display: block;
    
}

/* Overlay content */
.overlay-content {
    text-align: center;
    color: #00ffff;
    font-family: 'Courier New', Courier, monospace;
}

.text__paragraph {
  font-family: var(--fuente-text);
    margin-bottom: 10px;
}

.programming__icon img {
     
    
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.programming__icon  {
     
    display: flex;
    justify-content: center;
  
}

/* card Responsive styles */



@media only screen and (max-width:768px){
	.container-card{
    display: flex;
    justify-content: center;
		flex-wrap: wrap;
    width: 100%;
    height: 100%;
	}
	.card {
       
       
        margin: 20px;
    }
    .card__body {
      position: relative;
      height: 150px;
      padding: 20px;
      transition: height 0.5s;
  }

    .overlay1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: none;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(5px);
      transition: opacity 0.3s;
      
      z-index: 1; /* Ensures overlay is on top */
      background: var(--background);
      text-align: center;
  }
}

@media only screen and (max-width:500px){
	.container-card{
		flex-wrap: wrap;
    width: 100%;
	}
	.card{
		
        height: auto;
      
	}
}


.container__aboutMe { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: var(--background);
  color: var(--primary-color);
}


#footer__container { 
  display: flex;
  align-items: center;
  padding: 20px 0;
  text-align: center;
 background: var(--background);
 color: var(--primary-color);
 padding: 1rem;

}

@media screen and (max-width: 768px) {
  
    #footer {
      display: flex;
      align-items: center;
      padding: 20px 0;
      text-align: center;
     margin-top: 5rem;
     color: var(--primary-color);
     padding: 1rem;
    
   
  }
  
}